h1 {
    font-size: 40px;
    color: blue; 
    padding: 10px;
}
  
h2 {
    font-size: 24px;
    color: gray; 
    padding: 10px;
}


h3 {	
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 70px;
    text-decoration: underline;
    padding: 20px
}

h4 {
    color:rgb(41, 40, 41);
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    line-height: 25px;
    text-decoration: underline;
}

.maintext {
    font-size: 20px;
    color: crimson;
    padding: 15px;
}

.container-fluid {
    background-color: rgb(150, 149, 149, 0.3); 
    text-align: left;
}

#books {
    text-align: right
}

.plainText {
    background-color: white;
}

.center {
    text-align: center;
    margin: auto;
    width: 100%
}